p {

}

.taba-content {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.taba-pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.taba-padding{
	padding-top: 16px;
}
.taba-ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.taba-frame {
   border: 0px;
   background-color: #fff;
   width: 100%;
}

.taba-framechat {
   width: 100%;
   border: 1px solid #ddd;
   background-color: #fff;
}

.resizable_chat {
   position: relative;
}

.resizer_chat {
   position: absolute;
   bottom: -3px;
   left: 0px;
   cursor: row-resize;
   height: 5px;
   width: 100%;

}
.resizer_chat_b {
   position: absolute;
   bottom: -3px;
   left: 0px;
   cursor: row-resize;
   height: 1px;
   width: 100%;
   background-color: #CCC;
}

.resizable_users {
   position: relative;
}

.resizer_users {
	position: absolute;
	bottom: -3px;
	left: 0px;
	cursor: row-resize;
	height: 5px;
	width: 100%;
}
.resizer_users_b {
	position: absolute;
	bottom: -3px;
	left: 0px;
	cursor: row-resize;
	height: 1px;
	width: 100%;
	background-color: #CCC;
}

.taba-send {
	font-size: 32px;
}

.taba-square {
	border: 2px solid #4D4D4D;
	background-color: #E5E5E5;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.taba-head-title {
	color: #f5f5f5;
	border: 2px solid #4D4D4D;
	background-color: #4D4D4D;
    padding-left: 10px;
    padding-right: 10px;
}

.taba-head-data {
	color: #4D4D4D;
	border: 2px solid #4D4D4D;
	background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

.taba-head {
	color: #f5f5f5;
	border: 2px solid #e3e3e3;
	background-color: #333;
	padding-left: 10px;
}

.taba-hover {
   cursor: pointer;
   opacity: 1;
}

.taba-hover:hover {
   opacity: 0.6;
}

.taba-start-hover {
   opacity: 1;
}

.taba-start-hover:hover {
   opacity: 0.6;
}

.taba-private {
    color: #600;
}

.taba-conected {
	color: #333;
	border: 1px solid #d6e9c6;
	background-color: #dff0d8;
}

.taba-away {
	color: #333;
	border: 1px solid #faebcc;
	background-color: #fcf8e3;
}

.taba-direct {
	color: #333;
	border: 1px solid #faebcc;
	background-color: #fcf8e3;
}

.taba-direct-private {
	color: #333;
	border: 1px solid #ebccd1;
	background-color: #f2dede;
}

.taba-self {
	color: #333;
	border: 1px solid #d6e9c6;
	background-color: #dff0d8;
}

.taba-others {
	color: #333;
	border: 1px solid #bce8f1;
	background-color: #d9edf7;
}

.taba-msg {
   padding-left: 5px;
}

.taba-msgsystem {
	color: #f5f5f5;
	border: 1px solid #e3e3e3;
	background-color: #333;
}

.taba-msghead {
	color: #333;
	border: 1px solid #e3e3e3;
	background-color: #f5f5f5;
	padding-left: 5px;
}

table.listRoom {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.listRoom td, table.listRoom th {
  padding: 4px 4px;
}

table.listRoom tbody td {
	padding-left: 8px;
}

table.listRoom tbody tr:hover {
	background-color: #448344;
}

table.listRoom tr:nth-child(even) {
  background: #BFBFBF;
}

table.listRoom thead {
  background: #4D4D4D;
}

table.listRoom thead th {
  color: #FFF;
}

table.listRoom thead th:first-child {

}

table.listRoom tfoot {

}

table.listRoom tfoot td {

}

table.listRoom tfoot .links {

}

table.listRoom tfoot .links a{
  
}
