<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="titles"
		label="COM_TABAPAPO_CONFIG_ROOM_SETTINGS_LABEL"
		description="COM_TABAPAPO_CONFIG_ROOM_SETTINGS_DESC"
	>
		<field
			name="show_category"
			type="radio"
			label="COM_TABAPAPO_TABAPAPO_FIELD_SHOW_CATEGORY_LABEL"
			description="COM_TABAPAPO_TABAPAPO_FIELD_SHOW_CATEGORY_DESC"
			readonly="true"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field
			name="show_dice"
			type="radio"
			label="COM_TABAPAPO_TABAPAPO_FIELD_SHOW_DICE_LABEL"
			description="COM_TABAPAPO_TABAPAPO_FIELD_SHOW_DICE_DESC"
			readonly="true"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field
			name="show_private"
			type="radio"
			label="COM_TABAPAPO_TABAPAPO_FIELD_SHOW_PRIVATE_LABEL"
			description="COM_TABAPAPO_TABAPAPO_FIELD_SHOW_PRIVATE_DESC"
			readonly="true"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="users_limit"
			type="radio"
			label="COM_TABAPAPO_TABAPAPO_FIELD_USERS_LIMIT_LABEL"
			description="COM_TABAPAPO_TABAPAPO_FIELD_USERS_LIMIT_DESC"
			readonly="true"
			default="10"
		>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="64">64</option>
		</field>

		<field
			name="captcha"
			type="plugins"
            folder="captcha"
			label="COM_TABAPAPO_TABAPAPO_FIELD_CAPTCHA_LABEL"
			description="COM_TABAPAPO_TABAPAPO_FIELD_CAPTCHA_DESC"
			default="0"
			filter="cmd"
		>
         <option value="">JOPTION_USE_DEFAULT</option>
			<option value="0">JOPTION_DO_NOT_USE</option>
		</field>
 	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_tabapapo"
			section="component"
		/>
	</fieldset>
</config>
